.wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    color: #8585AD;
    cursor: pointer;

    background: none;
    border-style: hidden;
}

.isActive {
    color: #F2F2F3;
}

@media screen and (max-width: 1200px) {
    .text {
        display: none;
    }
}
